<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		{{# ifeq section "home" }}
			<meta name="description" content="I am Benjamin, creator of the Siberius Studio, I currently develop THE REVOLT and in parallel other licenses, when I have time. I mainly work alone but I get exeternal help for some work like music composition. Good visit on the site !">
		{{/ ifeq }}
		{{# each navLinks }}
			{{# ifeq ../section slug }}
				{{# ifeq slug "the-revolt" }}
					<meta name="description" content="The Revolt is an action-platformer, allowing you to explore a huge city under military control. You will have to make your way and face many enemies in order to achieve your mission: the freedom. Run, fight, free, repeat.">
				{{/ ifeq }}
				{{# ifeq slug "john-murder" }}
					<meta name="description" content="John Murder & The Old Castle is a rogue-like, you play as a young explorer with the easy trigger, you explore an ancient and mysterious castle on top of a mountain. Legends tell it would be haunted by mysterious entities and mystical creatures.">
				{{/ ifeq }}
				{{# ifeq slug "astrowar" }}
					<meta name="description" content="AstroWar, the war for the system Beta S'tar II started, connect your game to twitch and get your viewers involved. With or without you, their ships will have to face the forces of evil to save the system.">
				{{/ ifeq }}
			{{/ ifeq }}
		{{/ each }}
		<title>{{# ifeq section "home" }}Siberius Studio{{/ ifeq }}{{# ifeq section "contact" }}Contact | Siberius Studio{{/ ifeq }}{{# ifeq section "mentions-legales" }}Mentions légales{{ else }}{{# each navLinks }}{{# ifeq ../section slug }}{{capitalize name }} | Siberius Studio{{/ ifeq }}{{/ each }}{{/ ifeq }}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="/styles/game.css">
		<link rel="stylesheet" href="/styles/main.css">

		{{{isAdminEditorJS user}}}
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <script src="https://use.fontawesome.com/298d22e615.js"></script>
	    <script type="text/javascript" src="/js/jquery.lazy.min.js"></script>
	</head>
	{{# each navLinks }}
	<body {{# ifeq ../section slug }}style="background-color: {{{ colorbg }}}"{{ else }}{{/ ifeq }}>
	{{/ each }}
		<nav class="navbar navbar-inverse sticky-menu header">
	        <div class="container-fluid">
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a {{# ifeq section "home" }}style="background-color:#0f131b"{{/ ifeq }}class="navbar-brand" href="/">
	                    <span>Siberius Studio</span>
	                </a>
					<span class="stream-mobile">
					{{# if isActiveStream }}
						<a href="http://www.twitch.tv/{{ twitchClientName }}" class="btn btn-success navbar-btn btn-sm" title='{{ titleChannel }} ({{ nbViewers }} viewers)' target="_blank"><img src="images/img/path2.png" alt=""> LIVE ON</a>
					{{ else }}
						<a href="http://www.twitch.tv/{{ twitchClientName }}" class="btn btn-danger navbar-btn btn-sm" title='Stream offline' target="_blank"><img src="images/img/path2.png" alt=""> LIVE OFF</a>
					{{/ if }}
					</span>
	            </div>
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav">
						{{# each navLinks }}
							<li {{# ifeq ../section slug }}class="active"{{/ ifeq }}>
								<a href="/{{ slug }}">{{ name }}</a>
							</li>
						{{/ each }}
	                </ul>
	                <ul class="nav navbar-nav navbar-right" id='streamWidget'>
						<span class="stream-pc">
						{{# if isActiveStream }}
							<a href="http://www.twitch.tv/{{ twitchClientName }}" class="btn btn-success navbar-btn" title='{{ titleChannel }} ({{ nbViewers }} viewers)' target="_blank"><img src="images/img/path2.png" alt=""> LIVE ON</a>
						{{ else }}
							<a href="http://www.twitch.tv/{{ twitchClientName }}" class="btn btn-danger navbar-btn" title='Stream offline' target="_blank"><img src="images/img/path2.png" alt=""> LIVE OFF</a>
						{{/ if }}
						</span>
						<li id="contact-right" {{# ifeq section "contact" }}class="active"{{/ ifeq }}>
							<a href="/contact">Contact</a>
						</li>
	                </ul>
	            </div>
	        </div>
	    </nav>

		{{{ body }}}

		<div class="container-fluid">
			<div class="row" id="footer">
				<div class="col-xs-12 text-center socials">
					<a href="{{{ homepage.socialsfb.url }}}" target="_blank">
						<img class="img-responsive" src="/images/{{{ homepage.socialsfb.img.filename }}}" alt="facebook">
					</a>
					<a href="{{{ homepage.socialstwt.url }}}" target="_blank">
						<img class="img-responsive" src="/images/{{{ homepage.socialstwt.img.filename }}}" alt="twitter">
					</a>
					<a href="{{{ homepage.socialsyt.url }}}" target="_blank">
						<img class="img-responsive" src="/images/{{{ homepage.socialsyt.img.filename }}}" alt="youtube">
					</a>
				</div>
				<div class="col-xs-12 text-center copyright">
					 <a href="/mentions-legales" target="_blank">Mentions légales</a> | Copyright&nbsp;©&nbsp;2017&nbsp;-&nbsp;<a href="/">Siberius&nbsp;Studio</a>
				</div>
			</div>
		</div>
	</body>
</html>
