{{!< default}}
<div id="ban" class='container-fluid'>
	<img src='/images/{{{ homepage.bann.filename }}}' alt='banner homepage' class="lazy"/>
</div>
<div class='container'>
	<div class="row">
		<div class="col-md-9">
			<div class='row text-center' id="main-index">
                <h3>
				    {{ errorTitle }}
                </h3>
                <p>
                    {{ errorMsg }}
                </p>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$('.lazy').Lazy();
let strong = document.getElementsByTagName("strong");
//let h2 = document.getElementsByTagName("h2");
for (let i = 0; i < strong.length; i++) {
	strong[i].style.color = "#fff"
}
//for (let i = 0; i < h2.length; i++) {
//	h2[i].style.color = "{{{ game.colorText }}}"
//}
</script>