<div class="container text-center contact-title">
	<div class="row message-success">
		<div class="col-xs-6 col-xs-offset-3">
			{{#if messages}}
				{{#if messages.success}}
					<div class="alert alert-success text-center">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						{{{flashMessages messages.success}}}
						<a href="/"><strong>Back</strong></a>
					</div>
				{{/if}}
				{{#if messages.warning}}
					<div class="alert alert-warning text-center">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						{{{flashMessages messages.warning}}}
					</div>
				{{/if}}
				{{#if messages.error}}
					<div class="alert alert-danger text-center" id="test">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						{{{flashMessages messages.error}}}
					</div>
				{{/if}}
			{{/if}}
		</div>
	</div>
	<h2>Contact Us</h2>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 col-xs-12">
			{{!-- {{#if enquirySubmitted}}
			{{else}} --}}
			<form method="post">
				<input type="hidden" name="action" value="contact">
				<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
					<label>Name</label>
					<input type="text" name="name.full"  class="form-control" value="{{formData.[name.full]}}">
				</div>
				<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
					<label>Email</label>
					<input type="email" name="email" class="form-control" value="{{formData.email}}">
				</div>
				<div class="form-group">
					<label>Phone</label>
					<input type="text" name="phone" placeholder="(optional)" class="form-control" value="{{formData.phone}}">
				</div>
				<div class="form-group {{#if validationErrors.enquiryType}}has-error{{/if}}">
					<label>What are you contacting us about?</label>
					<select name="enquiryType" class="form-control">
						<option value="">(select one)</option>
						{{#each enquiryTypes}}
							<option value="{{value}}">{{label}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
					<label>Message</label>
					<textarea name="message" placeholder="Leave us a message..." rows="4" class="form-control">{{formData.message}}</textarea>
				</div>
				<div class="form-actions text-center">
					<button type="submit" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-envelope"></span> Send</button>
				</div>
			</form>
			{{!-- {{/if}} --}}
		</div>
	</div>
</div>
