
<div class='container-fluid'>
	<img src="images/{{{ game.bann1.filename }}}" id="header1" class="lazy" alt="banner game">
	<div class="video-wrapper">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{{ game.video }}}" allowfullscreen=""></iframe>
		</div>
	</div>
	{{# ifdiff game.steam.url "#" }}
		<div class='row'>
			<div class='col-md-12 text-center'>
				<iframe src="{{{ game.steam.url }}}" frameborder="0" width="646" height="190"></iframe>
					{{!-- <a href='{{{ game.steam.url }}}' target="_blank"><img class="img-responsive steam" src="/images/{{{ game.steam.img.filename }}}" alt="logo Steam"></a> --}}
			</div>
		</div>
	{{/ ifdiff }}
	<div id='main'>
		<div class='row one'>
			<h1>{{{ game.name }}}</h1>
			<div class='box col-lg-4 col-lg-offset-4 col-sm-10 col-sm-offset-1 col-xs-12'>
				<p class="text">
					{{{ game.desc }}}
				</p>
				{{# if game.contentText }}
					<div class="row text">
						{{# if game.contentText.text1 }}
							<div class="col-sm-6">
								{{{ game.contentText.text1 }}}
							</div>
						{{/ if }}
						{{# if game.contentText.text2 }}
							<div class="col-sm-6">
								{{{ game.contentText.text2 }}}
							</div>
						{{/ if }}
					</div>
				{{/ if }}
				{{# ifor game.contentGif.gif1.filename game.contentGif.gif2.filename }}
				<div class='gif'>
					<div class="videos text-center">
						{{# if game.contentGif.gif1.filename }}
	                    <video autobuffer="autobuffer" autoplay="autoplay" loop="loop" muted="muted" poster="">
	                        <source src="images/{{{ game.contentGif.gif1.filename }}}" type="video/mp4">
	                    </video>
						{{/ if }}
						{{# if game.contentGif.gif2.filename }}
	                    <video autobuffer="autobuffer" autoplay="autoplay" loop="loop" muted="muted" poster="">
	                        <source src="images/{{{ game.contentGif.gif2.filename }}}" type="video/mp4">
	                    </video>
						{{/ if }}
	                </div>
				</div>
				{{/ ifor }}
			</div>
		</div>
		<div class='row two'>
			<h2>NEWS</h2>
			<div class='box col-lg-4 col-lg-offset-4 col-sm-10 col-sm-offset-1 col-xs-12'>

				{{# each news }}
					{{# ifinf @index 4 }}
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingOne">
									<h4 class="panel-title">
										<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{@ index }}" aria-expanded="true" aria-controls="collapseOne">
											<blockquote class="blockquote-reverse" style="border-right: 0;">
												<p>{{{ name }}}</p>
												<footer>{{ date created format='DD/MM/YYYY' }}</footer>
											</blockquote>
										</a>
									</h4>
								</div>
								<div id="collapse{{@ index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
									<div class="panel-body">
										{{{ describ }}}
									</div>
								</div>
							</div>
						</div>
					{{/ ifinf }}
				{{/ each }}
				{{# ifsup news.length 4 }}
					<div class='text-center'>
						<a href="{{ gameUrl game.slug }}/news" class="btn btn-info" target="_blank">View More...</a>
					</div>
				{{/ ifsup }}
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$('.lazy').Lazy();

let strong = document.getElementsByTagName("strong");
for (let i = 0; i < strong.length; i++) {
	strong[i].style.color = `{{{ game.colorText }}}`;
}

let styleElem = document.head.appendChild(document.createElement("style"));

styleElem.innerHTML = `#main h2 {
	color: rgb({{{ rgbText.r }}}, {{{ rgbText.g }}}, {{{ rgbText.b }}}); }`;

styleElem.innerHTML += `#main h2:before {
	background: linear-gradient(to right, rgba({{{ rgbText.r }}}, {{{ rgbText.g }}}, {{{ rgbText.b }}}, .0),
										  rgba({{{ rgbText.r }}}, {{{ rgbText.g }}}, {{{ rgbText.b }}}, .7)); }`;

styleElem.innerHTML += `#main h2:after {
	background: linear-gradient(to right, rgba({{{ rgbText.r }}}, {{{ rgbText.g }}}, {{{ rgbText.b }}}, .7),																							  rgba({{{ rgbText.r }}}, {{{ rgbText.g }}}, {{{ rgbText.b }}}, .0)); }`;

styleElem.innerHTML += `#main h1 {
	color: rgb({{{ rgbText.r }}}, {{{ rgbText.g }}}, {{{ rgbText.b }}}); }`;

styleElem.innerHTML += `#main h1:before {
	background: linear-gradient(to right, rgba({{{ rgbText.r }}}, {{{ rgbText.g }}}, {{{ rgbText.b }}}, .0),
										  rgba({{{ rgbText.r }}}, {{{ rgbText.g }}}, {{{ rgbText.b }}}, .7)); }`;

styleElem.innerHTML += `#main h1:after {
	background: linear-gradient(to right, rgba({{{ rgbText.r }}}, {{{ rgbText.g }}}, {{{ rgbText.b }}}, .7),																							  rgba({{{ rgbText.r }}}, {{{ rgbText.g }}}, {{{ rgbText.b }}}, .0)); }`;

styleElem.innerHTML += `#main .panel {
	background-color: rgba({{{ rgbBgDarkened.r }}}, {{{ rgbBgDarkened.g }}}, {{{ rgbBgDarkened.b }}}, .3); }`;

styleElem.innerHTML += `#main .panel-default>.panel-heading {
	background: linear-gradient(to bottom, rgb({{{ rgbBgWhitened.r }}}, {{{ rgbBgWhitened.g }}}, {{{ rgbBgWhitened.b }}}),
										   rgb({{{ rgbBg.r }}}, {{{ rgbBg.g }}}, {{{ rgbBg.b }}})); }`;

styleElem.innerHTML += `#main .btn-info {
	background: linear-gradient(to bottom, rgb({{{ rgbBgWhitened.r }}}, {{{ rgbBgWhitened.g }}}, {{{ rgbBgWhitened.b }}}),
										   rgb({{{ rgbBg.r }}}, {{{ rgbBg.g }}}, {{{ rgbBg.b }}}));
	border-color: rgba({{{ rgbBgDarkened.r }}}, {{{ rgbBgDarkened.g }}}, {{{ rgbBgDarkened.b }}}, 0); }`;

styleElem.innerHTML += `#main .btn-info:hover {
	background: linear-gradient(to bottom, rgb({{{ rgbBgWhitened.r }}}, {{{ rgbBgWhitened.g }}}, {{{ rgbBgWhitened.b }}}),
										   rgb({{{ rgbBg.r }}}, {{{ rgbBg.g }}}, {{{ rgbBg.b }}}));
	border-color: rgb({{{ rgbBgDarkened.r }}}, {{{ rgbBgDarkened.g }}}, {{{ rgbBgDarkened.b }}});
	position: relative;
	top: 1px; }`;

styleElem.innerHTML += `#footer {
	background-color: rgba({{{ rgbBgDarkened.r }}}, {{{ rgbBgDarkened.g }}}, {{{ rgbBgDarkened.b }}}, .3); }`;

styleElem.innerHTML += `iframe, object, embed, iframe h1 {
	max-width: 100%; }`
</script>
