
<div id="ban" class='container-fluid'>
	<img src='/images/{{{ homepage.bann.filename }}}' alt='banner homepage' class="lazy"/>
</div>
<div class='container'>
	<div class="row">
		<div class="col-md-9">
			<div class='row text-center' id="main-index">
				{{# each navLinks}}
				<div class='col-xs-12'>
					<a href="{{ gameUrl slug }}">
						<img class="img-responsive" src='images/{{{ bann0.filename }}}' alt='banner game'/>
					</a>
				</div>
				{{/ each}}
			</div>
		</div>
		<div class='col-md-3 profil'>
			<div class="row">
				<div class="col-md-12 col-md-offset-0 col-xs-10 col-xs-offset-1">
					{{# each users }}
						<img class="" src="/images/{{{ imgp.filename }}}" alt="profil photo">
						<span class="text-left">
							<h1>{{ name.first }}</h1>
							<h2>{{ name.last }}</h2>
							<h3>{{ checkage age }}</h3>
							{{{ desc }}}
						</span>
						{{# ifsup @index 1 }}
							<hr>
						{{/ ifsup }}
					{{/ each }}
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$('.lazy').Lazy();
let strong = document.getElementsByTagName("strong");
for (let i = 0; i < strong.length; i++) {
	strong[i].style.color = "#fff"
}
</script>