
<div class="container mentions-page">
    <div class="row text-center">
        <h2>Mentions légales</h2>
    </div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 col-xs-12">
			<h3>Editeur du site:</h3>
            <blockquote>
                <p>Ce site est édité par Siberius Studio</p>
                <p>35 rue de SAINT CYR</p>
                <p>69009 LYON</p>
            </blockquote>
            <h3>Réalisation:</h3>
            <blockquote>
                <p>Ce site a été réalisé par <a href="https://www.linkedin.com/in/alexis-girard-17b1b2106" target="_blank">Alexis Girard</a></p>
            </blockquote>
            <h3>Hébergement:</h3>
            <blockquote>
                <p>Ce site est hébergé par la société OVH</p>
                <p>140 Quai du Sartel</p>
                <p>59100 Roubaix</p>
                <p>Tél: 08 99 70 17 61</p>
            </blockquote>
            <h3>Propriété du site:</h3>
            <blockquote>
                <p>Ce site est la propriété de Siberius Studio</p>
                <p>35 rue de SAINT CYR</p>
                <p>69009 LYON</p>
            </blockquote>
		</div>
	</div>
</div>