<div class='container'>
	<div class='row text-center' id="main">
        <h2 style="margin-bottom:5%">Archives</h2>
        <div class='box col-lg-8 col-lg-offset-2 col-xs-12'>
    		{{# each news}}
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading{{@ index }}">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{@ index }}" aria-expanded="true" aria-controls="collapse{{@ index }}">
                                <blockquote class="blockquote-reverse" style="border-right: 0;">
                                    <p>{{{ name }}}</p>
                                    <footer>{{{ date created format='DD/MM/YYYY' }}}</footer>
                                </blockquote>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse{{@ index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{@ index }}">
                        <div class="panel-body">
                            {{{ describ }}}
                        </div>
                    </div>
                </div>
            </div>
    		{{/ each}}
        </div>
	</div>
</div>
<script type="text/javascript">
$('.lazy').Lazy();

let styleElem = document.head.appendChild(document.createElement("style"));

styleElem.innerHTML = `#main h2 {
	color: rgb({{{ rgbText.r }}}, {{{ rgbText.g }}}, {{{ rgbText.b }}}); }`;

styleElem.innerHTML += `#main h2:before {
	background: linear-gradient(to right, rgba({{{ rgbText.r }}}, {{{ rgbText.g }}}, {{{ rgbText.b }}}, .0),
										  rgba({{{ rgbText.r }}}, {{{ rgbText.g }}}, {{{ rgbText.b }}}, .7)); }`;

styleElem.innerHTML += `#main h2:after {
	background: linear-gradient(to right, rgba({{{ rgbText.r }}}, {{{ rgbText.g }}}, {{{ rgbText.b }}}, .7),																							  rgba({{{ rgbText.r }}}, {{{ rgbText.g }}}, {{{ rgbText.b }}}, .0)); }`;

styleElem.innerHTML += `#main .panel {
	background-color: rgba({{{ rgbBgDarkened.r }}}, {{{ rgbBgDarkened.g }}}, {{{ rgbBgDarkened.b }}}, .3); }`;

styleElem.innerHTML += `#main .panel-default>.panel-heading {
	background: linear-gradient(to bottom, rgb({{{ rgbBgWhitened.r }}}, {{{ rgbBgWhitened.g }}}, {{{ rgbBgWhitened.b }}}),
										   rgb({{{ rgbBg.r }}}, {{{ rgbBg.g }}}, {{{ rgbBg.b }}})); }`;

styleElem.innerHTML += `#footer {
	background-color: rgba({{{ rgbBgDarkened.r }}}, {{{ rgbBgDarkened.g }}}, {{{ rgbBgDarkened.b }}}, .3); }`;
</script>
