@font-face {
    font-family: 'MyFont';
    src: url('/fonts/BebasNeue.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #0f131b;
    color: #fff;
}
a:hover, a:focus {
    text-decoration: none;
}
.navbar-inverse {
    background-color: #0b0d13;
    border-color: #040506;
}
.navbar {
    margin: 0;
}

#header1 {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    z-index: -50;
    margin-bottom: 8%;
}

.embed-responsive-16by9 {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

.video-wrapper {
	max-width: 70%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 5em;
}
.video-wrapper img.steam {
    max-width: 20%;
    margin: 6% auto;
    text-align: center;
}

#main {
    text-align: center;
    margin-top: 2%;
}
#main h2, #main h1 {
    font-family: 'MyFont';
    font-size: 5em;
    color: #eec32f;
    letter-spacing: 4px;
}

/*START: Remplacé par le script sur game.hbs (+color ci-dessus) */
#main h2:before, #main h1:before {
    background: linear-gradient(to right, rgba(200,200,200,0), rgba(200,200,200,0.5));
    right: 0.25em;
}
#main h2:after, #main h1:after {
    background: linear-gradient(to right, rgba(200,200,200,0.5), rgba(200,200,200,0));
    left: 0.25em;
}
/* END */

#main h2:before, #main h2:after, #main h1:before, #main h1:after {
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 10%;
    line-height: 4.5em;
    font-weight: initial;
}
#main .two {
    margin-top: 4em;
}
#main .box {
    text-align: justify;
    font-size: 1.1em;
}

#main .gif {
    font-size: 0;
}
#main .gif video:first-of-type {
    margin: 0 20px 0 0;
}
#main .gif video {
    border-radius: 5px;
    display: inline-block;
    max-width: calc(50% - 10px );
    box-shadow: 0px 0px 16px rgba(41,41,41,0.75);
}
#main .panel-default {
    border-color: transparent;
}
#main .panel {
    background-color: transparent;
    border: 2px solid transparent;
}
#main .panel img, #main .panel video {
    max-width: 100%;
    height: auto;
}
#main .panel-body ul {
    margin-left: 15px;
}
#main .panel-default>.panel-heading {
    color: inherit;
    background-color: #121927;
}
#main .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border: 0;
}
#main .blockquote-reverse .small:after, .blockquote-reverse footer:after, .blockquote-reverse small:after, blockquote.pull-right .small:after, blockquote.pull-right footer:after, blockquote.pull-right small:after {
    content: none;
}
#main blockquote {
    margin: 0;
}


@media only screen and (max-width: 767px) {
    #main h2, #main h1 {
        font-size: 1.5em;
    }
    #main p, ul, li {
        font-size: 0.8em;
    }
    img.steam {
        max-width: 30%;
        display: inline-block;
    }
    #main {
        margin-top: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    img.steam {
        max-width: 25%;
        display: inline-block;
    }
    .video-wrapper {
        margin-bottom: 3%;
    }
}

@media (max-width: 768px) {
    #main .gif video {
        max-width: 100%;
    }
    #main .gif video:first-of-type {
        margin: 0 0 20px 0;
    }
    #main h2:before, #main h2:after, #main h1:before, #main h1:after {
        width: 20%;
    }
    .video-wrapper {
        margin-bottom: 2em;
        max-width: 80%;
    }
    #main .two {
        margin-top: 1em;
    }
}