* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height:100%;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100%;
    padding-bottom: 14em;
    padding-top: 50px; /* If not use Sticky*/
    background-color: #0f131b;
    color: #fff;
    cursor: default;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #1e222a;
}
#ban img {
    width: 100%;
}
#ban.container-fluid {
    padding: 0;
    margin-bottom: 4em;
}
.profil {
    background-color: #252b38;
    border-radius: 0px;
    border: 1px solid #444;
    box-shadow: 0px 0px 5px #444;
    padding: 20px;
    text-align: center;
}
.profil p {
    margin-top: 20px;
}
.profil h1, .profil h2 {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}
.profil h3 {
    font-weight: bold;
    font-size: 14px;
    margin: 10px 0;
}
.profil img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #555;
}

.light-stream-on {
    background: rgba(91, 255, 77, 0.5);
}
.light-stream-off {
    background: rgba(255, 9, 9, 0.5);
}
.navbar-inverse .navbar-nav>li.light-stream-on>a, .navbar-inverse .navbar-nav>li.light-stream-off>a {
    font-weight: bold;
    color: #fff;
}

.stream-mobile {
    margin-left: 6px;
}
.stream-pc {
    margin-right: 10px;
}
.stream-pc img {
    max-width: 22px;
    margin-right: 6px;
}
.stream-mobile img {
    max-width: 16px;
    margin: 0 2px 2px 0;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.img-responsive {
    display: inline-block;
}
.navbar-inverse {
    background-color: #0b0d13;
    border-color: #040506;
}
#header-index {
    margin: 0 0 12% 0;
}
#header-index img {
    max-width: 80%;
}

#header-index .imgTitle {
    margin-top: 60px;
}
#main-index img {
    margin-bottom: 2em;
    box-shadow: 0px 0px 5px #fff;
    border-radius: 5px;
    max-width: 100%;
    transition: all .5s;
}
#main-index img:hover {
    box-shadow: 0px 0px 20px #fff;
}

.update {
    padding-left: 0;
}
.form-control {
    background-color: #0b0d13;
    color: #fff;
}
.form-control:focus {
    border-color: transparent;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(35, 39, 47, 1);
}


#footer {
    background-color: #080a10;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#footer .socials img {
    max-width: 16%;
    margin: 0 1em;
    opacity: .85;

}
#footer .socials img:hover {
    opacity: 1;

}

.contact-title {
    margin-top: 2em;
    margin-bottom: 3em;
}
.form-group {
    margin-bottom: 3em;
}
.form-group label {
    font-size: 1.1em;
}
.form-actions button {
    width: 50%;
    margin-bottom: 2em;
}
.btn {
    outline: none;
    margin-bottom: 0;
}
.btn-primary {
    background: linear-gradient(to bottom, rgb(35, 39, 47), rgb(15, 19, 27));
    border-color: rgba(0, 0, 7, 0);
}
.btn-primary:hover {
    border-color: rgb(0, 0, 7);
    position: relative;
    top: 1px;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover .btn-primary.focus, .btn-primary:focus {
    background-color: rgb(15, 19, 27);
    border-color: rgb(0, 0, 7);
    position: relative;
    top: 1px;
    outline: none;
}

.copyright {
    margin: 2em 0 1em 0;
}
.copyright a {
    color: #fff;
}
.copyright a:hover {
    text-decoration: underline;
}
.mentions-page blockquote {
    border-radius: 0 5px 5px 0;
    background: #181e2b;
    border-left: 8px solid #2a344b;
    margin: 0 0 30px 10px;
    padding: 0.5em 10px;
}
.mentions-page blockquote:before {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
.mentions-page h2 {
    font-size: 36px;
    margin: 1.5em 0 1.2em 0;
}
.mentions-page h3 {
    border-bottom: 1px solid #ccc;
}

.contact-title h2 {
    font-size: 36px;
    margin: 20px 0 10px 0;
}
.contact-title h2:before, .mentions-page h2:before {
    background: linear-gradient(to right, rgba(250, 250, 250, 0), rgba(250,250,250,0.6));
    right: 0.25em;
}
.contact-title h2:after, .mentions-page h2:after {
    background: linear-gradient(to right, rgba(250,250,250,0.6), rgba(250,250,250,0));
    left: 0.25em;
}
.contact-title h2:before, .contact-title h2:after, .mentions-page h2:before, .mentions-page h2:after {
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 16%;
    line-height: 4.5em;
    font-weight: initial;
}

@media (min-width: 1280px) {
    .navbar {
        border-radius: 0;
    }
    #footer .socials img {
        margin: 0 2em;
    }
}
/* Pour placer le lien Contact à droite du bouton de Live */
@media (min-width: 768px) {
    .navbar-nav>li#contact-right {
        float: right;
    }
    .stream-mobile {
        display: none;
    }
}

@media (max-width: 767px) {
    .stream-pc {
        display: none;
    }
}
@media (max-width: 768px) {
    .contact-title h2:before, .contact-title h2:after, .mentions-page h2:before, .mentions-page h2:after {
        width: 15%;
    }
    .form-actions button {
        width: 100%;
    }
}
@media (max-width: 412px) {
    #ban.container-fluid {
        margin-bottom: 2em;
    }
    .mentions-page h2:before, .mentions-page h2:after {
        width: 0%;
    }
    .form-actions button {
        width: 100%;
    }
}